<!DOCTYPE html>
<html lang="en">
	<head>
        <base target="_blank">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" \
			integrity="" \
			crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/sticky-footer-navbar.css') }}" >

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/jquery-3.1.1-dist.js') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js') }}" \
			integrity="" \
			crossorigin="anonymous">

		<title>Chatbot Demo</title>
	</head>


<body>

		<script src="https://cdn.cai.tools.sap/webchat/webchat.js"
				channelId="9fb85b54-b945-48ce-b537-236525a939f5"
				token="a4fd9d04b2519fb2c49b44f604b42755"
				id="cai-webchat">
		</script>
		<div class="container">
            <div class="row">
				<h1>Telco Chatbot Demo</h1>
                <p>This chatbot helps the customer find out whether he/she is entitled to a phone upgrade.<br>
                    The chatbot has been implemented using the <a href="https://cai.tools.sap/">
                    SAP Conversational AI</a> platform and the Python Flask web framework. <br>
                    The Flask application is <a href="https://github.com/raoulbia/bot-telco">hosted on github</a>.
                    The chatbot interface is hosted on <a href="https://www.heroku.com/">Heroku</a>.</p>
                <p><span style="font-weight:bold">Note: </span>If you are re-visiting this page after having tested
                    the demo chatbot for the first time, you may encounter <br>
                    unresponsiveness. In this case please clear your browser cache and cookies or use your <br>
                    browser in incognito mode.</p>
                <p>The chatbot features include:<br>
                <ul>
                    <li>In-bot Customer ID confirmation </li>
                    <li>In-bot Customer ID format validation</li>
                    <li>Backend Customer ID Verification</li>
                    <li>Backend application of business rules to assess upgrade eligibility</li>
                    <li>Tailored product offer based on business rules</li>
                    <li>Fulfillment preference prompt</li>
                    <li>Leave feedback prompt</li>
                </ul>
                </p>

            </div>
            <div class="row"><p style="margin-top:5px; font-weight:bold">Sample Data for Testing:</p></div>
            <div class="row">
                <style type="text/css">
                .tg  {border-collapse:collapse;border-spacing:0;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
                .tg .tg-baqh{text-align:center;vertical-align:top}
                .tg .tg-0lax{text-align:left;vertical-align:top}
                </style>
                <table class="tg">
                  <tr>
                    <th class="tg-1wig">CustomerID</th>
                    <th class="tg-1wig">Contract</th>
                    <th class="tg-1wig">MonthlyCharges</th>
                    <th class="tg-1wig">TotalCharges</th>
                    <th class="tg-1wig">Upgrade</th>
                    <th class="tg-1wig">Churn</th>
                    <th class="tg-1wig">LTV</th>
                    <th class="tg-1wig">Excpected Chatbot Decision</th>
                  </tr>
                  <tr>
                    <td class="tg-0lax">3668-QPYBK</td>
                    <td class="tg-0lax">Month-to-month</td>
                    <td class="tg-0lax">53.85</td>
                    <td class="tg-0lax">108.15</td>
                    <td class="tg-baqh">no</td>
                    <td class="tg-baqh">yes</td>
                    <td class="tg-baqh">low</td>
                    <td class="tg-0lax">no offer</td>
                  </tr>
                  <tr>
                    <td class="tg-0lax">5575-GNVDE</td>
                    <td class="tg-0lax">One Year</td>
                    <td class="tg-0lax">56.95</td>
                    <td class="tg-0lax">1889.5</td>
                    <td class="tg-baqh">yes</td>
                    <td class="tg-baqh">yes</td>
                    <td class="tg-baqh">high</td>
                    <td class="tg-0lax">reduced price offer</td>
                  </tr>
                  <tr>
                    <td class="tg-0lax">7469-LKBCI</td>
                    <td class="tg-0lax">Two year</td>
                    <td class="tg-0lax">18.95</td>
                    <td class="tg-0lax">326.8</td>
                    <td class="tg-baqh">yes</td>
                    <td class="tg-baqh">yes</td>
                    <td class="tg-baqh">low</td>
                    <td class="tg-0lax">retail price offer</td>
                  </tr>
                  <tr>
                    <td class="tg-0lax">7795-CFOCW</td>
                    <td class="tg-0lax">One year</td>
                    <td class="tg-0lax">42.3</td>
                    <td class="tg-0lax">1840.7</td>
                    <td class="tg-baqh">yes</td>
                    <td class="tg-baqh">no</td>
                    <td class="tg-baqh">high</td>
                    <td class="tg-0lax">retail price offer</td>
                  </tr>
                </table>
            </div>

            <div class="row"><p style="margin-bottom:50px"></p></div>
            <div class="row">
                <div class="col"><img src="/static/images/chatbot_conversation_flow.svg" /></div>
                <div class="col"><img src="/static/images/chatbot_decision_rules.svg" /></div>
            </div>
        </div>

</body>
</html>
